$black: #0A0A0A;
$black-light: #121212;
$gray: #3B3B3B;
$white-dark: #B3B3B3;
$white: #FFFFFF;

$red: #ff0000;
$blue: #2f00ff;
$gradient: linear-gradient(90deg, $white 0.85%, $blue 52.93%, $red 100.85%);
